@tailwind base;
@tailwind components;
@tailwind utilities;

.input-box {
  @apply w-full h-10 px-3 rounded-lg 
          bg-white/20 text-white
           placeholder-black
         border border-white/30
         focus:outline-none focus:ring-2 focus:ring-blue-400;
}

