{% extends "base.html" %}
{% block content %}
<head>
        <link href="{{ url_for('static', path='css/resume.output.css') }}" rel="stylesheet">
</head>

<div class="flex items-center justify-center min-h-screen bg-gray-100">

  <div class="bg-white shadow-lg rounded-xl p-8 w-96">
          <h2 class="text-2xl font-bold mb-4 flex  justify-center text-gray-800">Reset Password</h2>

    <form method="post" action="/reset-password/{{ token }}">
      <input type="password" name="password" placeholder="New Password" class="input-box w-full mb-3" required>
      <input type="password" name="confirm_password" placeholder="Confirm Password" class="input-box mb-3 w-full h-10" required>
      <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg transition">
        Reset Password
      </button>
    </form>
    {% if request.session.get("flash") %}
      <div class="mt-4 text-center bg-red-100 text-red-700 border border-red-300 px-4 py-2 rounded-lg">
        {{ request.session.get("flash") }}
      </div>
      {% set _ = request.session.pop("flash") %}
    {% endif %}
  </div>
</div>
{% endblock %}
